mixin orderDetail(order)
    div.takenOrderDetail
        .takenOrder_receipt
            h4=order.restaurantName
            span=order.time
            span=order.menuName
            span=order.quantity  
            a(href=`/customer/orderhistory/${order.orderId}/addreview`)
                input(type="button", value="리뷰 작성")
        if order.isConfirmed
            h4 승인된 주문
        else
            h4 승인 대기 중

