mixin menuBrief(menu)
    div.restaurant_menu__brief
        img(src="#")
        span #{menu.menuName}
        span 메뉴정보: #{menu.info}
        span 금액 : #{menu.price}
        div.restaurant_menu__brief__bottom
            a(href=`/api/restaurant/${menu.restaurantId}/${menu.menuId}`)
                button 장바구니 담기
