mixin review(review)
    div.restaurant_review
        ul 
            li 작성자 : #{review.name}
            li 별점 : #{review.stars}
            li 생성일 : #{review.createdAt}
            li 작성 내용: #{review.comment}
        
        if who === "user"
            .restaurant_review__bottom
                a(href=`/api/customer/myreviews/${review.reviewId}`)
                    button 리뷰 삭제